html 
    body 
         form(method="post" action="/signin")
            input(type="text", display="block" , name="email" , placeholder='email')
            input(type="text", display="block" , name="password",  placeholder='password')
            input(type="submit", value="Submit") 