html 
    body
        form(method="post" action="/signup")
            input(type="text", display="block" , name="firstname" , placeholder='first name')
            input(type="text", display="block" , name="lastname" , placeholder='last name')
            input(type="text", display="block" , name="email" , placeholder='email')
            input(type="text", display="block" , name="password",  placeholder='password')
            input(type="date", display="block" , name="birthday" , placeholder='birthday')
            input(type="submit", value="Submit") 